html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Baskerville, serif;
  text-align: center;
  color: #111;
}

.preload #main, .preload h1 { -webkit-transition:none !important; -moz-transition:none !important; -o-transition:none !important; -ms-transition:none !important; transition:none !important }

.tags, figcaption {
  font-family: 'Lucida Sans', 'Lucida Grande', sans-serif;
}

a {
  color: #555;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

a:hover {
  border-color: #222;
}

h1 {
  margin-bottom: 90px;
  font-weight: normal;
  font-size: 14px;
}

#tree {
  position: relative;
  width: 71px;
  height: 87px;
  background: url(../img/tree.png);
  margin: 65px auto -5px;
}

#root, #apple {
  position: absolute;
  display: none;
}

#root {
  width: 7px;
  height: 6px;
  top: 80px;
  right: 20px;
  background: url(../img/root.png);
  z-index: 2;
}

#apple {
  width: 9px;
  height: 8px;
  top: 43px;
  right: 15px;
  background: url(../img/apple.png);
}

.fixed {
  position: fixed;
  width: 100%;
}

#main, h1 {
  opacity: 0;
  -o-transition: opacity .4s ease;
  -ms-transition: opacity .4s ease;
  -moz-transition: opacity .4s ease;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
}

.tags {
  position: relative;
  top: -16px;
  float: right;
  list-style: none;
  margin: 0 4px 0;
  padding: 0;
  font-size: 10px;
  color: #7a7a7a;
  line-height: 17px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.5);
}

.tags li {
  position: relative;
  display: inline-block;
  height: 17px;
  padding: 0 8px 0 15px;
  margin-right: 2px;
  background: #eee url(../img/tag.png) 0 -17px no-repeat;
}

.tags li::after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 17px;
  right: 0;
  top: 0;
  background: url(../img/tag.png) right top no-repeat;
}

.tags a {
  border: none;
}

.work {
  margin-bottom: 90px;
  padding-top: 90px;
  font-size: 11px;
}

.work::after {
  content: "☙";
  display: block;
  position: relative;
  clear: both;
  top: 69px;
  font-size: 2.5em;
  color: #D4D4D4;
}

.work:last-child::after {
  display: none;
}

.work img, .code {
  border-radius: 4px;
}

.project-name {
  font-weight: bold;
}

figure, .slides, .code {
  width: 760px;
  margin: 0 auto;
}

.code {
  /* border: 2px dashed #eee; */
  /* width: 756px; */
  padding-bottom: 90px;
  font-size: 14px;
}

.code p {
  margin: 0 auto 1em;
  width: 266px;
  line-height: 1.4;
  text-align: left;
}

figcaption {
  margin: 1em 0 0 4px;
  text-align: left;
}

.slides {
  margin-bottom: -40px;
}

.slidesjs-container {
  z-index: 1;
}

.slidesjs-pagination {
  position: relative;
  display: inline-block;
  top: -38px;
  padding: 0;
  list-style: none;
  z-index: 2;
}

.slidesjs-pagination-item {
  display: inline-block;
}

.slidesjs-pagination-item a {
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 7px;
  background: #ddd;
  border: none;
  border-radius: 7px;
  text-indent: -999em;
  overflow: hidden;
}

.slidesjs-pagination-item:last-child a, .tags li:last-child {
  margin: 0;
}

.slidesjs-pagination-item .active {
  background: #7a7a7a;
}


/* Retina stuff */
@media (-webkit-min-device-pixel-ratio: 2) {
  #tree {
    background-image: url(../img/tree@2x.png);
    background-size: 71px 87px;
  }

  #root {
    background-image: url(../img/root@2x.png);
    background-size: 7px 6px;
  }

  #apple {
    background-image: url(../img/apple@2x.png);
    background-size: 9px 8px;
  }

  .tags li, .tags li::after {
    background-image: url(../img/tag@2x.png);
    background-size: 9px 34px;
  }
}
