---
title: Words
id_attribute: words
---


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158309270-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158309270-1');
</script>


<!-- post list -->
{% for post in paginator.posts %}
<li><a href="{{post.url | prepend: site.baseurl}}"><h3>{{post.title}}</h3></a></li>
{% endfor %}


<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}


<section>
	<header>
		
		<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101245280);</script>
<script async src="//static.getclicky.com/js"></script>

		{% seo %}
		{% if post.title != '' %}
		<h1><a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a>{% if post.link %}<span class="external-link-arrow">→</span>{% endif %}</h1>
		{% endif %}
		<time datetime="{{ post.date }}"><a href="{{ post.url }}">{{ post.date | date_to_string }} <span>∞</span></a></time>
	</header>
		{{ post.excerpt }}
		{% if post.content contains '<!-- more -->' %}
		<a href="{{ post.url }}">More…</a>
		{% endif %}
</section>
{% endfor %}


<!-- Begin Offer-->
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://raw.githubusercontent.com/upmusings/upshift/master/images/atomihab.png" alt="" width="43%" height="" /></p>
<p><strong>Currently Reading</strong>&nbsp;:&nbsp;<em>Atomic Habits,</em> a some sort of&nbsp;practical guide to identifying and changing your habits.</a></p>

<!--End mc_embed_signup-->
