---
title: Words
id_attribute: words
---


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158309270-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158309270-1');
</script>

{% for post in paginator.posts limit:5 %}
<section>
	<header>
		
		<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101245280);</script>
<script async src="//static.getclicky.com/js"></script>

		{% seo %}
	
		{% if post.title != '' %}
		<h1><a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a>{% if post.link %}<span class="external-link-arrow">→</span>{% endif %}</h1>
		{% endif %}

		<time datetime="{{ post.date }}"><a href="{{ post.url }}">{{ post.date | date_to_string }} <span>∞</span></a></time>
	</header>
		{{ post.excerpt }}
		{% if post.content contains '<!-- more -->' %}
		<a href="{{ post.url }}"></a>
		{% endif %}
</section>
{% endfor %}
<!-- Pagination links -->

{% if paginator.total_pages > 1 %}
<div class="pagination">
	<br>
   {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Newer Posts</a>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &raquo;</a>
  {% endif %}
</div>
{% endif %}

<style>
	.pagination a, .pagination span {
    padding: 2px 18px;
    border:  1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }
</style>
