---
title: Journal
id: journal
---

<ul>
	{% for post in site.posts %}
		<li>
			{% if post.title != '' %}
				<h2>{% if post.link %}<a class="external-link" href="{{ post.link }}">{% endif %}{{ post.title }}{% if post.link %}</a><span class="external-link-arrow">⬈</span>{% endif %}</h2>
			{% endif %}
				<a class="date" href="{{ post.url }}">{{ post.date | date_to_string }} <span>∞</span></a>
				{{ post.excerpt }}
				{% if post.content contains site.excerpt_separator %}
				<a href="{{ post.url }}">More…</a>
				{% endif %}
		</li>
	{% endfor %}
</ul>