<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	
	<title>
		{% if page.url != '/' %}
			{% if page.title != '' %}
				{{ page.title }} · 
			{% else %}
				{{ page.date | date_to_string }} ·
			{% endif %}
		{% endif %}
		{{ site.title }}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="Pete Schaffner">
	{% feed_meta %}
	<link href="https://micro.blog/peteschaffner" rel="me">
	<link rel="stylesheet" href="/assets/css/fonts.css">
	<link rel="stylesheet" href="/assets/css/styles.css">
	<link rel="shortcut icon" type="image/png" href="favicon.png">
</head>
<body{% if page.id_attribute %} id="{{ page.id_attribute }}"{% endif %}>
	<nav class="constrained">
		The <a href="/words"{% if page.url contains 'words' %} class="current"{% endif %}>words</a> <i>&</i> <a href="/work"{% if page.url contains 'work' %} class="current"{% endif %}>work</a> of <a href="/"{% if page.url == '/' %} class="current"{% endif %}><span>Pete&nbsp;Schaffner</span></a>
	</nav>
	
	<main class="constrained">	
		{{ content }}
	</main>
	
	<footer class="constrained">
		© {{ site.time | date: '%Y' }} · <a href="/feed.xml">RSS</a> · <a href="/colophon">Colophon</a> · <a href="https://github.com/peteschaffner/peteschaffner.github.io">View Source</a>
 	</footer>
</body>
</html>