<!doctype html>
<html>
<head>
	
	
	<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101245280);</script>
<script async src="//static.getclicky.com/js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158309270-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158309270-1');
</script>

	<meta charset="utf-8">
	
	<title>
		{% if page.url != '/' %}
			{% if page.title != '' %}
				{{ page.title }} · 
			{% else %}
				{{ page.date | date_to_string }} ·
			{% endif %}
		{% endif %}
		{{ site.title }}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="">
	{% feed_meta %}
	<link href="https://micro.blog/8thmagic" rel="me">
	<link rel="stylesheet" href="/assets/css/fonts.css">
	<link rel="stylesheet" href="/assets/css/styles.css">
	<link rel="shortcut icon" type="image/png" href="favicon.png">
	{% seo %}
</head>
<body{% if page.id_attribute %} id="{{ page.id_attribute }}"{% endif %}>
	<nav class="constrained">
		The <a href="/">words</a> <i>&</i> <a href="/work"{% if page.url contains 'work' %} class="current"{% endif %}>work</a> <em> &nbsp;&nbsp; bout'</em> <a href=/words/index.html>The Upshift</a>
	</nav>
	
	<main class="constrained">	
		{{ content }}
	</main>
	
	<footer class="constrained">
		© {{ site.time | date: '%Y' }} · <a href="/">Other Posts</a> · <a href="/colophon">Colophon</a> · <a href="https://github.com/upmusings/upshift">View Source</a>
 	</footer>
</body>
</html>
